[submodule "llvm-project"]
	path = third-party/llvm-project
	url = https://github.com/llvm/llvm-project.git
	branch = release/16.x
[submodule "LULESH-LLNL"]
	path = third-party/LULESH-LLNL
	url = https://github.com/LLNL/LULESH.git
	branch = 2.0.2-dev
